---
import "../styles/styles.css";
---

<div class="progress-container">
  <div class="progress-bar"></div>
</div>

<div class="header">
  <div class="logo">
    <a href="https://www.itmv.dk/"><img src="/img/itmv_logo.png" alt="ITMV_Logo" /></a>
  </div>

  <nav>
    <ul class="menu">
      <li><a href="https://www.itmv.dk/collections/all">Shop</a></li>
      <li><a href="https://www.itmv.dk/pages/om-itmv">Om os</a></li>
      <li><a href="https://www.itmv.dk/pages/samarbejde">Samarbejder</a></li>
      <li><a href="https://www.itmv.dk/pages/donation">Støt</a></li>
      <li><a href="https://www.itmv.dk/pages/contact">Kontakt</a></li>
      <li><a href="#index.html">Webfeature</a></li>
    </ul>
  </nav>
</div>

<style>
  /* MENU */

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    color: var(--text-color);
    margin: 0;
    font-family: "Helvectica Neue", sans-serif;
    font-weight: 50;
    font-style: normal;
    letter-spacing: 0.01rem;
    width: 100%;
  }

  .logo img {
    max-width: 100px;
  }

  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }

  nav ul li {
    margin-right: 40px;
  }

  nav ul li:last-child {
    margin-right: 0;
  }

  nav ul li a {
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.3s ease;
    font-size: 1rem;
  }

  nav ul li a:hover {
    color: var(--logo-color);
  }

  .burger_menu {
    display: none;
  }

  /* SCROLL BAR */
  /* Progress container (grå baggrund) */
  .progress-container {
    width: 100%;
    height: 8px;
    background: #ccc;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    background-color: #f1f1f1;
  }

  /* Progress bar (scroll indicator) */
  .progress-bar {
    height: 8px;
    background: var(--logo-color);
    width: 0%;
  }
</style>

<script>
  window.onscroll = function () {
    myFunction();
  };

  function myFunction() {
    var winScroll = document.body.scrollTop || document.documentElement.scrollTop;
    var height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
    var scrolled = (winScroll / height) * 100;
    document.getElementById("myBar").style.width = scrolled + "%";
  }
</script>
