---
import "../styles/styles.css";
---

<div class="baggrund_samarbejde">
  <h2 class="mod_teamet samarbejder">Læs om vores andre samarbejder her</h2>
  <div class="samarbejde_grid">
    <div class="samarbejde_div">
      <a href="https://www.instagram.com/p/Cy8UeDIsRAA/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA=="
        ><img src="img/stilling.png" alt="Stilling" /><span>
          <br /><br /><br /><br /><br /><br /><strong>STILLING X ITMV</strong>
          <br /><br /> Fra Lundtoftegade til Bredgade🤍🪡 <br />
          <br />Vi oplever at flere og flere bruger vores gardiner som rumdelere eller vægværker, og vi har længe drømt om at kunne vise hvordan gardinerne tilføre sanselighed, stoflighed og ro til de rum de er skabt til... <br /><br />
          Læs mere</span
        ></a
      >
    </div>

    <div class="samarbejde_div">
      <a href="https://www.instagram.com/p/CouH1oIMns9/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA=="
        ><img src="img/kunst_brandt.png" alt="Kunstmuseum Brandt" /><span><br /><br /><br /><strong>KUNSTMUSEUM BRANDT X ITMV</strong> <br /><br /> I samarbejde med Kunstmuseum Brandt har vi skabt stemningsskabende tekstiler til spetaklet, samt masker, sølvvinger og kappe til legende gæster i aktivitetsrummet... <br /><br /> Læs mere</span></a
      >
    </div>

    <div class="samarbejde_div">
      <a class="bottom" href="https://www.instagram.com/p/C4f10Ywste4/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA=="
        ><img src="img/ferm_living.png" alt="Stefani" /><span> <br /><br /><br /><strong>FERM LIVING X ITMV</strong> <br /><br /> Du kan opleve udstillingen “THOUGHTS ~ Reflections on the future of design” i Ferm Living Boutique... <br /><br /> Læs mere</span></a
      >
    </div>
    <div class="samarbejde_div cca">
      <a href="https://www.instagram.com/p/CqmraKnMj-t/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA=="
        ><img src="img/cca_andraxt.png" alt="cca_andraxt" /><span>
          <br /><br /><br /><br /><br /><br /><br /><strong>CCA ANDRATX X ITMV</strong>
          <br />
          <br /> På galleriet CCA Andratx kan du for tiden møde to af vores cirkel gardiner. De bliver brugt som rumdeling i det smukke galleri rum. <br /><br /> Læs mere</span
        ></a
      >
    </div>
  </div>
</div>

<style>
  /* Andre samarbejder */

  .samarbejde_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 69px 140px;
    gap: 0px;
    width: 98%;
    z-index: 100;
  }

  .samarbejde_div {
    position: relative;
    overflow: hidden;
    max-width: 80%;
    z-index: 100;
  }

  .bottom {
    position: absolute;
    bottom: 0;
  }

  .samarbejde_div img {
    display: block;
    max-width: 80%;
    height: auto;
    transition: transform 0.3s ease;
    z-index: 100;
  }

  .baggrund_samarbejde {
    background-color: #dde9ee;
    padding-top: 10px;
    margin-top: 30px;
    padding-bottom: 40px;
  }

  .samarbejde_div span {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 85%;
    height: 100%;
    background: rgba(240, 240, 236, 0.653);
    color: var(--text-color);
    text-align: center;
    padding: 10px 25px;
    transform: translateY(100%);
    transition: transform 0.3s ease;
    font-family: "Helvetica Neue Thin";
    font-size: 1rem;
    line-height: 30px;
    z-index: 100;
  }

  .samarbejde_div:hover img {
    transform: scale(1.1);
  }

  .samarbejde_div:hover span {
    transform: translateY(0);
  }

  @media (max-width: 768px) {
    .samarbejde_grid {
      display: flex;
      flex-direction: column;
      gap: 50px;
      justify-content: center;
      width: 100%;
      margin: 50px 0;
    }

    .baggrund_samarbejde {
      background-color: transparent;
    }

    .samarbejde_div img {
      max-width: 100%;
    }

    img {
      width: 100%;
      height: auto;
    }
  }
</style>
